.bankDetails-container {
  display: flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  .bankDetails-text-area {
    display: flex;
    padding-left: 30px;
    margin-top: 20px;
    color: #ffffff;
  }
  .bankDetails-wrapper {
    padding-left: 28px;
    margin-top: 28px;
    padding-right: 28px;

    .bankDetails-header-text {
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
      margin-bottom: 5px;
      color: #ffffff;
      opacity: 0.5;
      .bank_text {
        margin-top: 5px;
      }
    }
    .bankDetails-button {
      margin-top: 40px;
    }
    .bankDetails-message {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      margin-top: 5px;
      margin-bottom: 15px;
      color: #ffffff;
      .nameMessage {
        margin-bottom: 10px;
      }
    }
  }
}
