.saving-credit-container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .royalitySaving-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
    font-family: "Montserrat";
  }
  .royalitySaving-wrapper {
    margin-top: 70px;

    .royalitySavingButton {
      margin-top: 45px;
      display: flex;
      .btn-elem {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        font-family: "Montserrat";
      }
      .royalitySavingClear-button {
        float: left;
        width: 40%;
      }
      .royalitySaving-submit {
        margin-left: 26%;
        width: 40%;
      }
    }
  }
}
