.saving-credit-container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .royalitySaving-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
    font-family: "Montserrat";
  }
  .royalitySaving-wrapper {
    margin-top: 70px;

    .royalitySavingButton {
      display: flex;
      justify-content: space-around;
      position: absolute;
      // bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      margin-top: 30px;
      ion-button {
        width: 120px;
      }
    }
  }
}
