.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  .insuranceEmi-text-area {
    font-style: normal;
    // font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    line-height: 20px;
    color: #ffffff;
  }
  .InsuranceEmi-Wrapper {
    margin-top: 80px;
    .btn-elem {
      height: 50px;
      font-size: 8px;
    }
  }
}
