.radio-wrapper {
  ion-text {
    font-family: "Montserrat";
  }

  .radio-text-color-black {
    color: black;
    font-size: 14px;
    margin-left: 30px;
  }
  .radio-text-color-white {
    color: white;
    font-size: 14px;
    margin-left: 30px;
  }
  .radio-icon-color-white {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 6%;
    // height: 45%;
    contain: size layout style;
    --color-checked: white;
    width: 20px;
  }
  .radio-icon-color-blue {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    contain: size layout style;
    --color-checked: #3182b9;
    width: 20px;
  }
}
