.radio-wrapper {
  ion-text {
    font-family: "Montserrat";
  }
  ion-radio {
    --color-checked: #3182b9;

    width: 20px;
  }
  .ion-margin-start {
    color: black;
    font-size: 14px;
    margin-left: 30px;
  }
  .radio-icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 6%;
    // height: 45%;
    contain: size layout style;
  }
}
