.radio-wrapper {
  ion-label {
    font-family: "Montserrat";
  }

  .radio-text-color-black {
    color: #000;
    font-size: 14px;
    position: relative;
    left: 10px;
    width: 100%;
  }
  .radio-text-color-white {
    color: #ffffff;
    font-size: 14px;
    position: relative;
    left: 10px;
    width: 100%;
  }
  .radio-icon-color-white {
    display: flex;
    align-items: center;
    justify-content: center;
    contain: size layout style;
    --color-checked: white;
    width: 20px;
  }
}
