.antivirus-container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  // background-color: #3182b9;
  .antivirus-text-area {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
  }
  .antivirus-btn-wrapper {
    margin-top: 50px;
  }
  .antivirus-proceed-btn {
    margin-top: 30px;
  }
}
