ion-item {
    --background: #3182B9;
    
}
.item-native {
    border-bottom-color: #FFFFFF;
    border-bottom-width: 100px !important;
}
.login-fileds-list-wrapper {
    background-color: #3182B9;
}
.input-floating-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }