.inputWrapper {
  position: relative;
  ion-item {
    --background: #3182b9;

    --border-color: #ffffff;
  }
  .item-native {
    border-bottom-color: #ffffff;
    border-bottom-width: 100px !important;
  }
  .login-fileds-list-wrapper {
    background-color: #3182b9;
  }
  .input-floating-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  ion-input {
    --placeholder-color: #ffffff;
    --color: #ffffff;
  }

  .eye-btn {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    top: calc(100% - 43px);
    z-index: 9999;
    border: none;
  }
  .eye-btn:focus {
    outline: none;
  }
}
