.container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .Loan-ApplyPage-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 32px;
    font-family: "Montserrat";
  }
  .Loan-ApplyPage-wrapper {
    margin-top: 8%;
  }
  .btn-elem {
    font-size: 14px;
    height: 30px;
  }

  .Button-wrapper-applypage {
    margin-top: 53%;
    .loan-ApplyPage-Discard {
      float: left;
      margin-top: 20px;
      width: 120px;
    }
    .loan-ApplyPage-Apply {
      float: right;
      width: 120px;
      margin-top: 20px;
    }
  }
}
