.container {
  display: flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  .coperative-text-area {
    display: flex;
    padding: 0px;
    margin-top: 20px;
    color: #ffffff;
  }
  .coperative-wrapper {
    margin-top: 30px;
    background-color: #3182b9;
  }

  .coperative-clear-button {
    width: 100px;
    float: left;
    margin-top: 10px;
  }
  .coperative-proceed-button {
    width: 150px;
    float: inline;
    margin-top: 40px;
    margin-left: 25%;
    margin-bottom: 10%;
  }
}
