.side-menu-toobar {
  --border-width: 0px !important;
  --border-style: none;
}

ion-menu {
  --width: 100%;
}
.close-icon-btn {
  width: 50px;
  --background: #ffffff;
  --box-shadow: noe;
  border: none;
  position: absolute;
  right: 0px;
  z-index: 99999;
}
.camera-btn {
  width: 50px;
  --background: transparent;
  --box-shadow: noe;
  border: none;
  z-index: 99999;
}
.ion-content-wrapper {
  --ion-background-color: #ffffff !important;
}
.header-md::after {
  background-image: none;
}
.menu-content-wrapper {
  background-color: #ffffff;
  height: 100%;
  background-color: #ffffff;
  height: 100%;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .page-header-text {
    ion-text {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: bold;
      color: #000000;
    }
  }
  .page-wrapper {
    display: flex;
    justify-content: space-between;
    .profile-icon-wrapper {
      position: absolute;
      right: 30px;
      top: 30px;
      ion-avatar {
        width: 120px;
        height: 120px;
      }
      .camera-icon-wrapper {
        position: absolute;
        top: 80px;
        right: 10px;
      }
    }

    .fields-wrapper {
      display: flex;
      flex-direction: column;
      flex-direction: column;
      padding-top: 10px;
      padding-left: 0px;
      .label-text {
        font-style: normal;
        /* font-weight: 600; */
        font-size: 1.1rem;
        line-height: 15px;
        color: #000000;
      }
      .label-value {
        font-style: normal;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 12px;
        color: #000000;
        opacity: 0.5;
        margin-top: 10px;
      }
    }
  }
  .action-items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-wrapper {
    margin-top: -10px;
    .version-wrapper .label-text {
      /* font-weight: 600; */
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      margin-top: 10px;
      font-style: normal;
      /* font-weight: 600; */
      font-size: 1.1rem;
      line-height: 15px;
      color: #000000;
    }
    .version-wrapper .label-value {
      font-style: normal;
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 12px;
      color: #000000;
      opacity: 0.5;
      margin-top: 10px;
    }
  }
  .action-button {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 15px;
    background-color: transparent;
    color: #000000;
    padding: 16px;
    width: 100%;
    text-align: left;
    padding-left: 0px;
    outline: none;
    button:focus {
      outline: 0;
    }
  }
  .bottom-wrapper {
    padding-bottom: 10px;
  }
}

.menu-content-wrapper .action-items-wrapper {
  margin-top: -10px;
}

.menu-content-wrapper .page-wrapper {
  margin-bottom: 15px;
}
