.ion-page {
  background-color: #3182b9;
}

.list-md {
  padding-bottom: 0px;
  padding-top: 0px;
}
.current-account-wrapper {
  .current-wrapper {
    background-color: #3182b9;
    height: 100%;
    .page-inner-wrapper {
      .page-header-label {
        padding-left: 20px;
        padding-top: 25px;
        .account-no-text {
          color: #ffffff;
          margin-top: 20px;
          font-weight: 600;
        }
      }
    }
    .current-content-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 25px;
      background-color: #3182b9;
      color: #ffffff;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .CurrentSection-0 {
        margin-top: 20px;
        .CurrentSection-header {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
        }
        .CurrentSection-last {
          font-style: normal;
          font-size: 14px;
          line-height: 17px;
        }
        .CurrentSection-last1 {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
        }
      }
    }
  }
}
