.agentPage-container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  .agentPage-text-area {
    display: flex;
    margin-top: 30px;
    color: #ffffff;
  }
  .agentPage-wrapper {
    margin-top: 10px;
  }
  .agentPage-header-grid {
    width: 100%;
    .ion-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      .button-line {
        display: flex;
        flex-shrink: 2;
        margin-left: 35px;
        width: 100%;
        margin-right: 50px;
      }
    }
  }
}

// .header-text-bottom {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 15px;
//   font-size: small;
//   color: #ffffff;
// }
