.container {
  display: flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  .fund-text-area {
    margin-top: 65px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  .fund-wrapper {
    padding: 30px;
    margin-top: 80px;
  }
}
