.otp-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.0025em;
    color: #ffffff;
  }
  .page-sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
    .innercontainer {
      width: 220px;
      text-align: center;
      font-family: "Montserrat";
    }
  }
  .field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: none;
    padding-top: 20px;
    input[type="tel"] {
      height: 45px;
      width: 45px;
      font-size: 25px;
      text-align: center;

      margin: 10px;
      height: 45px;
      width: 45px;
      font-size: 25px;
      text-align: center;

      margin-top: 20px;
      background-color: #5195c4;
      border: none;
      width: 27px;
      height: 27px;
      font-size: 13px;
      color: #ffffff;
    }
    input[type="number"] :focus {
      border: none;
    }
  }
  .resend-link-container {
    color: #ffff;
    font-family: "Montserrat";
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .resend-link-container a {
    color: #ffff;
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat";
    margin-left: 5px;
  }
  ion-input {
    --padding-end: 0;
    .text-input {
      text-align: center;
    }
  }
  .confirm-btn-wrapper {
    width: 100%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  ion-item {
    --border-color: transparent;
  }
}
