.ion-page {
    background-color: #3182B9;
}
.saving-account-wrapper {
    .page-wrapper{
        background-color: #3182B9;
        height:auto;
        .page-inner-wrapper{
            .page-header-label{
                display: flex;
                justify-content: left !important;
                align-items: center;
                padding-left: 8%;
                .account-no-text {
                    color:#ffffff;
                    margin-top:20px;
                    font-size: 20px;
                }
            }
        }
        .page-content-wrapper{
            padding : 30px;
            
            .section-1, .section-2, .section-3 {
                padding-top: 10%;
                .sections-heading{
                    color:#ffffff;
                    font-size: 22px;
                    line-height: 0.5;
                }
                .fixed-radio-options{
                    padding-top: 8%;
                }
                
            }        
            
        }
    }
}
