.antivirus-payment-container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  margin-top: 48px;
  .antivirus-payment-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: -4%;
  }
  .antivirus-payment-wrapper {
    margin-top: 10%;
    .AntivirusPayment-OrderDetails {
      font-style: normal;
      font-weight: 600;
      margin-top: 15%;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      margin-left: 0%;
    }

    .AntivirusPayment-account {
      width: 320px;
      border: 2px solid white;
      padding: 15px;
      color: #ffffff;
    }
  }
  .AntivirusPayment-spersky {
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
  }
  .antivirus-confirm-button {
    bottom: 0;
    position: absolute;
    right: 10px;
    left: 10px;
  }
}
