.skip_btn_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  margin-top: 30px;
  right: 21px;
  .btn-skip {
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
}

.mpin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.0025em;
    color: #ffffff;
  }
  .page-sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
    .innercontainer {
      width: 220px;
      text-align: center;
    }
  }
  .fields-container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
  }
  .confirm-btn-wrapper {
    width: 100%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
