.accountNumber {
  color: rgb(231, 226, 226);
  margin-left: 5%;
  margin-top: 3%;
  font-size: small;
}
.accountHeading {
  color: white;
  font-size: medium;
  margin-left: 5%;
  font-family: "Montserrat";
  font-weight: 550;
}
.PosSection-0 {
  margin-top: 20px;
  .section-header {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}

.map_view_container {
  height: 200px;
  position: relative;
  bottom: 0;
  top: 79px;
}
