.item-details-wrapper {
  .services-options-wrapper {
    position: absolute;
    bottom: 0px;
    height: 265px;
    transition: height 0.25s ease-in;
    width: 100%;
    max-height: 600px;
    z-index: 99999;
    .service-card-wrapper {
      height: 100%;
      background-color: #ffff;
      border-radius: 30px 30px 0px 0px;
      .close-bar-icon {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        button {
          background-color: transparent;
          border: none;
        }
        button:focus {
          outline: 0;
          outline-style: none;
          outline-width: 0;
        }
      }
    }
    ion-card {
      margin: 0;
    }
    .storage-discription-wrapper {
      display: flex;
      font-size: 13px;
      font-weight: 300;
      margin-top: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .storage-discription-expand {
      display: flex;
      font-size: 10px;
      font-weight: 300;
      margin-top: 10px;
    }

    .storage-details-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .btn-64gb {
        border: 0;
        border-radius: 0;
        font-style: inherit;
        font-feature-settings: inherit;
        font-variant: inherit;
        line-height: 1;
        text-transform: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
        //opacity: 0.5;
        background-color: #ffffff;
        border: 1px solid grey;
        margin-right: 10px;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        width: 100%;
      }
      .btn-128gb {
        border-radius: 0;
        font-style: inherit;
        font-feature-settings: inherit;
        font-variant: inherit;
        line-height: 1;
        text-transform: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
        // opacity: 0.5;
        background-color: #ffffff;
        border: 1px solid grey;
        margin-left: 10px;
        border-radius: 5px;
        outline: none;
        width: 100%;
      }
    }
    .item-color-wrapper {
      margin-top: 10px;
      ion-list {
        border-radius: 5px;
      }
      ion-item {
        border: 1px solid rgba(0, 0, 0, 0.5);
        --ion-background-color: #fff;
        border-radius: 5px;
        --border-color: #ffffff;
      }
      ion-select::part(text) {
        color: #000000;
        --padding-top: 0px;
        --padding-bottom: 10px;
      }
      ion-select::part(icon) {
        color: #000000;
        opacity: 0.8;
      }
    }
    .price-details-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
    .add-to-cart-button-wrapper {
      position: fixed;
      bottom: 0px;
      width: 100%;
      left: 0;
      padding: 0px 30px;
      .add-cart-button {
        margin-top: -15px;
        border-radius: 8px;
        --background: #004777;
        height: 31px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
    }
  }
  .fullHeight {
    height: 100%;
  }
  .features-wapper {
    margin-top: 30px;
  }
  .features-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  .features-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    position: absolute;
    width: 349px;
    left: 20px;
    // top: 240px;
    padding-right: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  .item-name-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
}
