.container {
  display: flex;
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  .bank-text-area {
    display: flex;
    margin-top: 20px;
    color: #ffffff;
  }
  .bank-wrapper {
    margin-top: 30px;
    background-color: #3182b9;
  }
  .bank-clear-button {
    width: 100px;
    float: left;
    margin-top: 40px;
  }
  .bank-proceed-button {
    width: 100px;
    float: right;
    margin-top: 40px;
  }
}
