.bank-container {
  display: flex;
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .bank-text-area {
    display: flex;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 600;
  }
  .bank-wrapper {
    margin-top: 30px;
    background-color: #3182b9;
    margin-top: 20px;
  }

  .bank-proceed-button {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    ion-button {
      width: 120px;
    }
  }
}

