.header-wrapper {
  ion-header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
  }
  ion-toolbar {
    --background: #004777;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border: none;
    ion-back-button {
      font-size: 10px;
      position: absolute;
      left: 15px;
      color: #ffffff;
    }
  }

  ion-text {
    color: #ffffff;
    font-size: 18px;
  }
}
