.header-wrapper {
  ion-toolbar {
    --background: #004777;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border: none;
    ion-back-button {
      font-size: 10px;
      position: absolute;
      left: 15px;
      color: #ffffff;
    }
  }

  ion-text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
