.header-wrapper {
  ion-toolbar {
    --background: #004777;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border: none;
    height: 50px;
  }
  ion-text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
