.flight-booking-container {
  margin-top: 40px;
  ion-text {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    // position: absolute;
  }

  .flight-booking-oneWay-text-area {
    padding-left: 25px;
  }
  .toggle-button-for-flight {
    width: 100%;
    padding: 20px;
    margin-top: 35px;
  }

  .flight-booking-oneWay-wrapper {
    padding: 25px;
    margin-top: -32px;

    .flight-one-way-button {
      margin-top: 80px;
    }
  }
  .flight-booking-section {
    display: flex;

    .flight-Booking-icon {
      margin-top: 30px;
    }
  }

  .flight-booking-TwoWay-wrapper {
    padding: 25px;
    margin-top: -32px;

    .flight-two-way-button {
      margin-top: 85px;
    }
  }

  .flight-booking-twoWay-section {
    display: flex;
    .flight-twoWay-icon {
      margin-top: 30px;
    }
  }
}
