.container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  .booking-twoWay-text-area {
    font-style: normal;
    // font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
  }
  .booking-twoWay-wrapper {
    margin-top: 60px;
    .booking-twoWay-section {
      display: flex;
      width: 100%;
    }
    .booking-twoWay-from {
      display: flex;
      width: 100%;
    }
    .flight-twoWay-icon {
      display: flex;
      margin-right: 5px;
      margin-top: 20px;
    }
    .booking-twoWay-to {
      display: flex;
      width: 100%;
    }
    .flight-Return {
      display: flex;
      width: 100%;
      .flight-departure {
        display: flex;
        width: 100%;
        margin-right: 20px;
      }
      .flight-return {
        display: flex;
        margin-left: 20px;
        width: 100%;
      }
    }
  }
  .departure-twoWay-area {
    display: inline-block;
    width: 100;
  }
  .flight-twoWay-button {
    margin-top: 20px;
  }
}
