.checkbox-wrapper {
  .terms-label {
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
  }
  ion-checkbox {
    --border-radius: 0px;
    margin: 0px;
    width: 18px;
    height: 18px;
    --background-checked: #ffffff;
    --checkmark-color: #3182b9;
    --checkmark-width: 3px;
    --border-color-checked: #ffffff;
    --border-color: #ffffff;
  }

  .ion-margin-top {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
