.nepal-electricity-container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  .nepal-electricity-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
    font-family: "Montserrat";
  }
  .nepal-electricity-authority-wrapper {
    margin-top: 40px;
    .nepal-button-last {
      float: left;
      margin-top: 40px;
    }
    .last-nepal-submit {
      width: 100px;
      margin-left: 5%;
    }
  }

  .electricity-proceed-button {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    ion-button {
      width: 120px;
    }
  }
}
