.container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  .nepal-electricity-text-area {
    font-family: "Montserrat";
    font-style: normal;
    // font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
  }
  .nepal-electricity-authority-wrapper {
    margin-top: 60px;
  }
  .nepal-button-last {
    float: left;
    margin-top: 40px;
    width: 100px;
  }
  .last-nepal-submit {
    float: right;
    width: 100px;
    margin-top: 40px;
  }
}
