.segment-wrapper {
  ion-segement {
    --background: #ffffff;
  }
  ion-segment-button {
    --background-checked: #004777;
    --background: #ffffff;
    --color-checked: #ffffff;
    --border-color: transparent;
    --indicator-box-shadow: none;
    --indicator-color: #004777;
  }
}
