.transaction-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  padding: 30px;
  .transaction-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .transactionHistory-area {
    background-color: #ffffff;
    height: 65px;

    .transactionHistory-content {
      position: relative;
      padding: 15px;

      .vl-red {
        width: 2px;
        background: #da2700;
        border-radius: 1.5px;
        height: 43px;
        position: fixed;
      }
      .vl-green {
        background: #00da23;
        border-radius: 1.5px;
        width: 2px;
        height: 43px;
        position: fixed;
      }
      .transaction-pyment {
        position: relative;
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 15px;
        color: #000000;
      }
      .transaction-pyment {
        position: relative;
        margin-left: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 15px;
        color: #000000;
        .transactionMessage {
          float: right;
        }
      }
      .message-box {
        margin-left: 15px;
        .transactionDateMessage {
          float: right;
        }
      }
    }
  }
}
