.password-container {
  display: flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #3182b9;
  padding-top: 30px;
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.0025em;
    color: #ffffff;
  }
  .page-sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    .innercontainer {
      width: 220px;
      text-align: center;
    }
  }
  .input-container {
    padding: 20px;
    margin-top: 80px;
  }

  .confirm-btn-wrapper {
    padding: 25px;
  }
}
