.loan-type-container {
  height: 100%;
  padding: 30px;
  font-family: "Montserrat";

  .loan-type-text-area {
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
    font-weight: 600;
    font-family: "Montserrat";
  }
  .loan-type-wrapper {
    margin-top: 100px;
  }
  .loanType-btn {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 30px;
    left: 0;
    right: 0;
  }
}
