.account-type-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
  height: 100%;
  .header-text-area {
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat";
  }
  .header-text-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: small;
    color: #ffffff;
  }
}

.page-wrapper{
  margin-top: 10%;
}

.button-gap{
  margin-top:20px;
}