.accordion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-button {
    width: 305px;
    height: 31px;
    --background: #004777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    --background-activated: #004777;
  }

  .is-shown {
    width: 100%;
    background-color: #ffffff;
    height: 200px;
    transition: height 0.25s ease-in;
  }
  .is-hidden {
    height: 0px;
    transition: height 0.25s ease-out;
    width: 0px;
  }
}
