.policy_wrapper {
  header-page {
    padding: 8px;
    margin: 20px;
  }
  .header-close-button {
    right: 20px;
    position: absolute;
    margin-top: 20px;
    .close-icons {
      position: absolute;
      width: 100%;
    }
  }

  ion-segment {
    color: #777;
    background-color: #004777;
    padding: 17px;

    // ion-segment-button {
    //   --background-checked: #004777;
    //   --color-checked: #070707;
    //   height: 2rem;
    // }

    ion-segment-button {
      --background-checked: #004777;
      --color-checked: rgb(255, 255, 255);

      --indicator-color: transparent;
      height: 1rem;
      font-weight: 600;
    }
  }

  .segment-button-indicator-background {
    border-radius: var(--border-radius);
    background: rgb(0, 71, 119);
  }

  .policy-container {
    display: flex;
    flex-direction: column;
    background-color: #ddd;

    .nav-button {
      display: flex;
      background-color: #004777;
    }
    .subnav-button {
      display: flex;
    }

    .btn-elem {
      --line-height: 17px;
      --font-style: normal;
      --color: #ffffff;
      background-color: #004777;
      --font-weight: 500;
      height: 30px;
    }
    .page-title {
      --font-weight: 500;
      font-size: 30px;
      margin: 10px 5px 5px 5px;
    }
    .page-paragraph {
      font-size: 13px;
      margin: 10px;
      text-align: justify;
      font-family: "Montserrat";
    }
  }
  ion-button {
    --background: transparent;

    border: none;
    --box-shadow: none;
    outline: none;
  }
}
