.container-for-Khanepani {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .khanepani-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 50px;
    font-family: "Montserrat";
  }
  .khanepani-wrapper {
    margin-top: 60px;
    .khanepani-nepal-submit {
      float: right;
      width: 100px;
      margin-top: 40px;
    }
    .khanepani-button-last {
      float: left;
      margin-top: 40px;
      width: 100px;
    }
  }

  .Khanepani-button-property {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    ion-button {
      width: 120px;
    }
  }
}
