.container-for-Khanepani {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .khanepani-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 50px;
    font-family: "Montserrat";
  }
  .khanepani-wrapper {
    margin-top: 60px;
    .khanepani-nepal-submit {
      float: right;
      width: 100px;
      margin-top: 40px;
    }
    .khanepani-button-last {
      float: left;
      margin-top: 40px;
      width: 100px;
    }
  }

  .Khanepani-button-property {
    float: inline;
    display: flex;
    margin-top: 255px;
    .clear-button-for-Khanepani {
      width: 70%;
    }
    .procced-button-for-Khanepani {
      margin-left: 10%;
      width: 70%;
    }
  }
}
