.container {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .khanepani-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
    font-family: "Montserrat";
  }
  .khanepani-wrapper {
    margin-top: 60px;
    .khanepani-nepal-submit {
      float: right;
      width: 100px;
      margin-top: 40px;
    }
    .khanepani-button-last {
      float: left;
      margin-top: 40px;
      width: 100px;
    }
  }
}

.buttonElementforKhanepani {
  margin-top: 84%;
  display: flex;

  .btn-elem {
    width: 120%;
    font-size: 14px;
  }
  .discardButton {
    margin-left: 0%;
  }
  .submitButton {
    margin-left: 26%;
  }
}
