.agent-fund-transfer-container {
  display: flex;
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .agent-text-area {
    display: flex;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 600;
  }
  .agent-page-wrapper {
    margin-top: 30px;
  }

  .agent-proceed-button {
    float: inline;
    display: flex;
    margin-top: 85px;
    .clear-button-for-agent {
      width: 70%;
    }
    .procced-button-for-agent {
      margin-left: 10%;
      width: 70%;
    }
  }
}
