.container-for-card-payment {
  display: flex;
  height: 100%;
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  background-color: #3182b9;
  font-family: "Montserrat";
  .credit-card-text-area {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 30px;
    font-family: "Montserrat";
  }
  .credit-card-wrapper {
    margin-top: 40px;
  }

  .card-payment-button-property {
    float: inline;
    display: flex;
    margin-top: 225px;
    .clear-button-for-card-payment {
      width: 70%;
    }
    .procced-button-for-card-payment {
      margin-left: 10%;
      width: 70%;
    }
  }
}

.select-menu-wrapper ion-item {
  --border-color: #ffffff;
  width: 96%;
}
